<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Заказ еды</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="header">
		@{Html.RenderAction("Summary", "Cart");}
		<div class="title">ЗАКАЗ ЕДЫ</div>
    </div>
	<div id="Content">
		@RenderBody()
	</div>
</body>
</html>
