@model FoodOrder.WebUI.Models.FoodListViewModel

@{
  ViewBag.Title = "Foods";
}


@foreach(var f in Model.Foods)
{
    <div class="item">
        <h3>@f.Name</h3>
        @f.Description
        <h4>@f.Price.ToString("c")</h4>
    </div>
}

<div class="pager">
	@Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { page = x }))
</div>