@model FoodOrder.WebUI.Models.FoodListViewModel

@{
  ViewBag.Title = "Foods";
}


@foreach(var f in Model.Foods)
{
    Html.RenderPartial("FoodSummary", f);
}

<div class="pager">
	@Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { page = x }))
</div>