@model FoodOrder.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Log in</h2>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  @Html.EditorForModel()
  <p><input type="submit" value="Log in" /></p>
}